
<form method="POST" action="{{ url_for('views.edit_lab_test', id=lab_test.id) }}">
  <div class="form-group">
    <label for="sample_date">Sample Date:</label>
    <div class="input-container">
      <input type="date" id="sample_date" name="sample_date" class="form-control" {% if lab_test.sample_date %}value="{{ lab_test.sample_date.strftime('%Y-%m-%d') if lab_test.sample_date else '' }}"{% endif %} readonly>
      </div>
    </div>

  <div class="form-group">
    <label for="analysis_date">Analysis Date:</label>
    <div class="input-container">
      <input type="date" id="analysis_date" name="analysis_date" class="form-control" {% if lab_test.analysis_date %}value="{{ lab_test.analysis_date.strftime('%Y-%m-%d') if lab_test.analysis_date else '' }}"{% endif %} readonly>
      </div>
    </div>

  <div class="form-group">
    <label for="location">Location:</label>
    <div class="input-container">
      <input type="text" id="location" name="location" class="form-control" {% if lab_test.location %}value="{{ lab_test.location }}"{% endif %} readonly>
      </div>
    </div>

  <div class="form-group">
    <label for="ph">PH:</label>
    <div class="input-container">
      <input type="number" step="0.01" id="ph" name="ph" class="form-control" {% if lab_test.ph %}value="{{ lab_test.ph }}"{% endif %}>
      </div>
    </div>

  <div class="form-group">
    <label for="ph2">PH 2:</label>
    <div class="input-container">
      <input type="number" step="0.01" id="ph2" name="ph2" class="form-control" {% if lab_test.ph_2 %}value="{{ lab_test.ph_2 }}"{% endif %}>
      </div>
    </div>

  <div class="form-group">
    <label for="phAvg">PH Average:</label>
    <div class="input-container">
      <input type="number" step="0.01" id="phAvg" name="phAvg" class="form-control" {% if lab_test.ph_average %}value="{{ lab_test.ph_average }}"{% endif %}>
        </div>
    </div>

      <div class="form-group">
        <label for="ntu">ntu:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="ntu" name="ntu" {% if lab_test.ntu %}value="{{ lab_test.ntu }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="ntu2">ntu 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="ntu2" name="ntu2" {% if lab_test.ntu_2 %}value="{{ lab_test.ntu_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveNtu">ave ntu:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveNtu" name="aveNtu" {% if lab_test.ave %}value="{{ lab_test.ave }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="hardness">hardness:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="hardness" name="hardness" {% if lab_test.hardness %}value="{{ lab_test.hardness }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tsMg">ts mg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tsMg" name="tsMg" {% if lab_test.ts_mg %}value="{{ lab_test.ts_mg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tsMg2">ts mg 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tsMg2" name="tsMg2" {% if lab_test.ts_mg_2 %}value="{{ lab_test.ts_mg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveTs">ave ts:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveTs" name="aveTs" {% if lab_test.ave_ts %}value="{{ lab_test.ave_ts }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tsSmg">ts smg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tsSmg" name="tsSmg" {% if lab_test.ts_smg %}value="{{ lab_test.ts_smg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tsSmg2">ts smg2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tsSmg2" name="tsSmg2" {% if lab_test.ts_smg_2 %}value="{{ lab_test.ts_smg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveTss">ave tss:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveTss" name="aveTss" {% if lab_test.ave_tss %}value="{{ lab_test.ave_tss }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="fsSmg">fs smg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="fsSmg" name="fsSmg" {% if lab_test.fs_smg %}value="{{ lab_test.fs_smg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="fsSmg2">fs smg 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="fsSmg2" name="fsSmg2" {% if lab_test.fs_smg_2 %}value="{{ lab_test.fs_smg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveFss">ave fss:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveFss" name="aveFss" {% if lab_test.ave_fss %}value="{{ lab_test.ave_fss }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="vsSmg">vs smg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="vsSmg" name="vsSmg" {% if lab_test.vs_smg %}value="{{ lab_test.vs_smg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="vsSmg2">vs smg 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="vsSmg2" name="vsSmg2" {% if lab_test.vs_smg_2 %}value="{{ lab_test.vs_smg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveVss">ave vss:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveVss" name="aveVss" {% if lab_test.ave_vss %}value="{{ lab_test.ave_vss }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tdSmg">td smg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tdSmg" name="tdSmg" {% if lab_test.td_smg %}value="{{ lab_test.td_smg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tdSmg2">td smg 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tdSmg2" name="tdSmg2" {% if lab_test.td_smg_2 %}value="{{ lab_test.td_smg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveTds">ave tds:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveTds" name="aveTds" {% if lab_test.ave_tds %}value="{{ lab_test.ave_tds }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tpMg">tp mg:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tpMg" name="tpMg" {% if lab_test.tp_mg %}value="{{ lab_test.tp_mg }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tpMg2">tp mg 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tpMg2" name="tpMg2" {% if lab_test.tp_mg_2 %}value="{{ lab_test.tp_mg_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveTp">ave tp:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveTp" name="aveTp" {% if lab_test.ave_tp %}value="{{ lab_test.ave_tp }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tn">tn:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="tn" name="tn" {% if lab_test.tn %}value="{{ lab_test.tn }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="tn2">tn 2:</label>
        <div class="input-container">
            <input type="number"step="0.01" class="form-control" id="tn2" name="tn2" {% if lab_test.tn_2 %}value="{{ lab_test.tn_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveTn">ave tn:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveTn" name="aveTn" {% if lab_test.ave_tn %}value="{{ lab_test.ave_tn }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="cod">cod:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="cod" name="cod" {% if lab_test.cod %}value="{{ lab_test.cod }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="cod2">cod 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="cod2" name="cod2" {% if lab_test.cod_2 %}value="{{ lab_test.cod_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveCod">ave cod:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveCod" name="aveCod" {% if lab_test.ave_cod %}value="{{ lab_test.ave_cod }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="nh4">nh4:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="nh4" name="nh4" {% if lab_test.nh4 %}value="{{ lab_test.nh4 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="nh42">nh4 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="nh42" name="nh42" {% if lab_test.nh4_2 %}value="{{ lab_test.nh4_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveNh4">ave nh4:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveNh4" name="aveNh4" {% if lab_test.ave_nh4 %}value="{{ lab_test.ave_nh4 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="po4p">po4p:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="po4p" name="po4p" {% if lab_test.po4p %}value="{{ lab_test.po4p }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="po4p2">po4p 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="po4p2" name="po4p2" {% if lab_test.po4p_2 %}value="{{ lab_test.po4p_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="avePo4">ave po4:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="avePo4" name="avePo4" {% if lab_test.ave_po4 %}value="{{ lab_test.ave_po4 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="no2">no2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="no2" name="no2" {% if lab_test.no2 %}value="{{ lab_test.no2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="no22">no2 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="no22" name="no22" {% if lab_test.no2_2 %}value="{{ lab_test.no2_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveNo2">ave no2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveNo2" name="aveNo2" {% if lab_test.ave_no2 %}value="{{ lab_test.ave_no2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="no3">no3:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="no3" name="no3" {% if lab_test.no3 %}value="{{ lab_test.no3 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="no32">no3 2:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="no32" name="no32" {% if lab_test.no3_2 %}value="{{ lab_test.no3_2 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="aveNo3">ave no3:</label>
        <div class="input-container">
            <input type="number" step="0.01" class="form-control" id="aveNo3" name="aveNo3" {% if lab_test.ave_no3 %}value="{{ lab_test.ave_no3 }}" {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="bod">bod:</label>
        <div class="input-container">
            <input type="checkbox" class="form-control" id="bod" name="bod" value="1" {% if lab_test.bod %}checked {% endif %}>
        </div>
    </div>

    <div class="form-group">
        <label for="bod2">bod 2:</label>
        <div class="input-container">
            <input type="checkbox" class="form-control" id="bod2" name="bod2" value="1" {% if lab_test.bod2 %}checked {% endif %}>
        </div>
    </div>

  <div align="center">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
