{% extends "base.html" %}
{% block title %}Generate QR Code{% endblock %}
{% block content %}
<br />
<h2>Loading QR Code</h2>
<br>
<form id="geoForm" action="/display_qr" method="POST">
    <label for="location">Select Location:</label>
    <select id="location" name="location">
        <option value="Metanya Left">Metanya Left</option>
        <option value="Metanya Right">Metanya Right</option>
        <option value="Safari">Safari</option>
        <option value="National Park">National Park</option>
        <option value="Maccabia Bridge">Maccabia Bridge</option>
        {% for location in locations %}
        <option value="{{ location.name }}">{{ location.name }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <input id="generate_qr_code_button" type="submit" value="Generate QR Code">
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}
