{% extends "base.html" %} {$ block title %}Home{ %endblock% }
{% block content %}
<h1>Shifts</h1>
<ul class="list-group list-group-flush" id="shifts">
    {% for shift in user.shifts %}
    <li class="list-group-item">
        {{ shift.data }}
        <button type="button" class="close" onClick="deleteShift({{ shift.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">

    <label for="start_time">Starting Time:</label>
    <input type="datetime-local" id="start_time" name="start_time" class="form-control" required><br>

    <label for="finish_time">Finishing Time:</label>
    <input type="datetime-local" id="finish_time" name="finish_time" class="form-control" required><br>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-primary" value="Submit">Add Shift</button>
    </div>
</form>
{% endblock %}