{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br />
<h1>Home Page</h1>
<br />
<div class="data-section">
    <h1>Monitoring Dashboard</h1>
    <div class="data-grid">
        <div class="data-item">
            <h3>Distance from Max Water Level</h3>
            <p><span id="reading">{{ distance }} cm</span></p>
        </div>
        <div class="data-item" id="floodAlert" style="display: none;">
            <h3>Alert</h3>
            <p>Water levels are high!</p>
        </div>
        <div class="data-item">
            <h3>Water Current</h3>
            <p><span id="water_current_reading">Unavailable</span></p>
        </div>
        <div class="data-item">
            <h3>PH Level</h3>
            <p><span id="ph_reading">Unavailable</span></p>
        </div>
        <div class="data-item">
            <h3>Flood Prediction</h3>
            <p style="color: {{ color }};">{{ flood_prediction_alert }}</p>
        </div>
    </div>
</div>

<div id="weather-container">
    <img id="weather-icon" alt="Weather Icon">
    <div id="temp-div"></div>
    <div id="weather-info"></div>
    <div id="hourly-forecast"></div>
    <div id="rain-forecast"></div>
</div>

<br>

<!--<div style="display: flex; justify-content: space-around;">-->
<!--    <div style="position: relative;">-->
<!--        <canvas id="phGauge" width="200" height="200"></canvas>-->
<!--        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px;">-->
<!--            {{ ph_average }}-->
<!--        </div>-->
<!--        <div style="text-align: center;">pH Average</div>-->
<!--    </div>-->
<!--    <div style="position: relative;">-->
<!--        <canvas id="hardnessGauge" width="200" height="200"></canvas>-->
<!--        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px;">-->
<!--            {{ hardness_average }}-->
<!--        </div>-->
<!--        <div style="text-align: center;">Hardness Average</div>-->
<!--    </div>-->
<!--    <div style="position: relative;">-->
<!--        <canvas id="tsGauge" width="200" height="200"></canvas>-->
<!--        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px;">-->
<!--            {{ ts_average }}-->
<!--        </div>-->
<!--        <div style="text-align: center;">TS Average</div>-->
<!--    </div>-->
<!--</div>-->

<!--<div style="display: flex; justify-content: space-around; margin-top: 20px;">-->
<!--    <div>-->
<!--        <div style="width: 20px; height: 20px; background-color: #36A2EB; display: inline-block; margin-right: 5px;"></div>-->
<!--        PH Average-->
<!--        {% if last_two_ph_average %}-->
<!--          <p>Last two test average: {{ last_two_ph_average }}</p>-->
<!--          {% if (last_two_ph_average - ph_average) > 0 %} </p>-->
<!--          <p style="color: green;"> {{ last_two_ph_average - ph_average}} </p>-->
<!--          {% endif %}-->
<!--          {% if (last_two_ph_average - ph_average) < 0 %} </p>-->
<!--          <p style="color: red;"> {{ last_two_ph_average - ph_average}} </p>-->
<!--          {% endif %}-->
<!--        {% endif %}-->
<!--    </div>-->
<!--    <div>-->
<!--        <div style="width: 20px; height: 20px; background-color: #FFCE56; display: inline-block; margin-right: 5px;"></div>-->
<!--        Hardness Average-->
<!--        {% if last_two_hardness_average %}-->
<!--          <p>Last two test average: {{ last_two_hardness_average }}</p>-->
<!--          {% if (last_two_hardness_average - hardness_average) > 0 %} </p>-->
<!--          <p style="color: green;"> {{ last_two_hardness_average - hardness_average}} </p>-->
<!--          {% endif %}-->
<!--          {% if (last_two_hardness_average - hardness_average) < 0 %} </p>-->
<!--          <p style="color: red;"> {{ last_two_hardness_average - hardness_average}} </p>-->
<!--          {% endif %}-->
<!--        {% endif %}-->
<!--    </div>-->
<!--    <div>-->
<!--        <div style="width: 20px; height: 20px; background-color: #FF6384; display: inline-block; margin-right: 5px;"></div>-->
<!--        TS Average-->
<!--        {% if last_two_ts_average %}-->
<!--          <p>Last two test average: {{ last_two_ts_average }}</p>-->
<!--          {% if (last_two_ts_average - ts_average) > 0 %} </p>-->
<!--          <p style="color: green;"> {{ last_two_ts_average - ts_average}} </p>-->
<!--          {% endif %}-->
<!--          {% if (last_two_ts_average - ts_average) < 0 %} </p>-->
<!--          <p style="color: red;"> {{ last_two_ts_average - ts_average}} </p>-->
<!--          {% endif %}-->
<!--        {% endif %}-->
<!--    </div>-->
<!--</div>-->

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script>-->
<!--    const ph_average = {{ ph_average }};-->
<!--    const hardness_average = {{ hardness_average }}-->
<!--    const ts_average = {{ ts_average }}-->
<!--</script>-->
<script src="{{ url_for('static', filename='home.js') }}"></script>

{% endblock %}
