{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br />
<h2>Shifts</h2>
<br />

<table class="table">
    <thead>
    <tr>
        <th>Start Date & Time</th>
        <th>Finish Date & Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for shift in user.shifts %}
    <tr>
        <td>{{ shift.start.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>{{ shift.finish.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>
            <button type="button" class="close" onClick="confirmDelete({{ shift.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Add Shifts</h2>
<br />

<form method="POST">

    <label for="start_time">Starting Time:</label>
    <input type="datetime-local" id="start_time" name="start_time" class="form-control" required><br>

    <label for="finish_time">Finishing Time:</label>
    <input type="datetime-local" id="finish_time" name="finish_time" class="form-control" required><br>

    <br />

    <div align="center">
        <button type="submit" class="btn btn-primary" value="Submit">Add Shift</button>
    </div>
</form>
{% endblock %}
