{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br />
<h2>Graphs</h2>

<br>

<!-- Selection for date filtering -->
<div class="date-filter-section">
    <input type="radio" id="byYear" name="dateFilter" value="byYear">
    <label for="byYear">By Year</label>
    <input type="radio" id="byDateRange" name="dateFilter" value="byDateRange">
    <label for="byDateRange">By Specific Date</label>
</div>

<!-- Inputs for year and date range that appear based on selection -->
<div id="yearInput" class="date-input-section hidden">
    <label for="year">Enter Year:</label>
    <input type="number" id="year" min="2000">
</div>

<div id="dateRangeInput" class="date-input-section hidden">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate">
</div>

<br>
<select id="options" class="hidden">
  <option value="" disabled selected>Parameter</option>
    <option value="ph">ph</option>
    <option value="ph_2">ph 2</option>
    <option value="ph_average">ph avg</option>
    <option value="ntu">ntu</option>
    <option value="ntu_2">ntu 2</option>
    <option value="ave">ave</option>
    <option value="hardness">hardness</option>
    <option value="ts_mg">ts mg</option>
    <option value="ts_mg_2">ts mg 2</option>
    <option value="ave_ts">ave ts</option>
    <option value="ts_smg">ts smg</option>
    <option value="ts_smg2">ts smg2</option>
    <option value="ave_tss">ave tss</option>
    <option value="fs_smg">fs smg</option>
    <option value="fs_smg_2">fs smg 2</option>
    <option value="ave_fss">ave fss</option>
    <option value="vs_smg">vs smg</option>
    <option value="vs_smg_2">vs smg 2</option>
    <option value="ave_vss">ave vss</option>
    <option value="td_smg">td smg</option>
    <option value="td_smg_2">td smg 2</option>
    <option value="ave_tds">ave tds</option>
    <option value="tp_mg">tp mg</option>
    <option value="tp_mg_2">tp mg 2</option>
    <option value="ave_tp">ave tp</option>
    <option value="tn">tn</option>
    <option value="tn_2">tn 2</option>
    <option value="ave_tn">ave tn</option>
    <option value="cod">cod</option>
    <option value="cod_2">cod 2</option>
    <option value="ave_cod">ave cod</option>
    <option value="nh4">nh4</option>
    <option value="nh4_2">nh4 2</option>
    <option value="ave_nh4">ave nh4</option>
    <option value="po4p">po4p</option>
    <option value="po4p_2">po4p 2</option>
    <option value="ave_po4">ave po4</option>
    <option value="no2">no2</option>
    <option value="no2 2">no2 2</option>
    <option value="ave_no2">ave no2</option>
    <option value="no3">no3</option>
    <option value="no3_2">no3 2</option>
    <option value="ave_no3">ave no3</option>
    <option value="bod">bod</option>
    <option value="bod_2">bod 2</option>
</select>

<!-- Chart type selection -->
<div class="form-group styled-radio-group">
    <input type="radio" id="barChart" name="chartType" value="bar" class="styled-radio" checked>
    <label for="barChart" class="styled-label">Bar Chart</label>
    <input type="radio" id="lineChart" name="chartType" value="line" class="styled-radio">
    <label for="lineChart" class="styled-label">Line Chart</label>
</div>

<div class="centered-container">
    <h2 id="graphTitle"></h2>
    <canvas id="graph"></canvas>
</div>

<div class="centered-container">
    <h2 id="precipitationTitle"></h2>
    <canvas id="precipitationGraph"></canvas>
</div>

<div class="min-max-container">
    <h3 id="MinMaxTitle"></h3>
    <div id="minMaxValues"></div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!-- JavaScript to handle the selection and render the graph -->
<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Include Date-fns library for Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/date-fns@2.16.1/dist/date-fns.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!-- Include Chart.js Zoom Plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1"></script>

<script src="{{ url_for('static', filename='lab_tests_graphs.js') }}"></script>

{% endblock %}
