{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br />
<h1>Water Level</h1>
<br>
<h2>Distance: <span id="reading">{{ distance }} cm</span></h2>
<br>
{% if flood_alert or flood_alert == "" %}
<style>
@keyframes blinker {
  50% { opacity: 0; }
}
.blink {
  color: red;
  animation: blinker 1s linear infinite;
}
</style>
<h2 class="blink">{{ flood_alert }}</h2>
{% else %}
<h2 style="color: {{ color }}";>{{ flood_prediction_alert }}</h2>
{% endif %}

<script>
    async function updateSensorData() {
        try {
            const response = await fetch('/get_sensor_data');
            console.log(response);
            const data = await response.json();
            document.getElementById('reading').innerHTML = data.distance + ' cm';
        } catch (error) {
            console.error('Error fetching sensor data:', error);
        }
    }

    setInterval(updateSensorData, 1000);  // Update every second
</script>

{% endblock %}
